<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Sign Up</h1>
    </div>
<form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
    <input class="form-input" type="text" ngModel name="name" placeholder="Enter Your Name">
    <input class="form-input" type="password" ngModel name="password" id="" placeholder="Password">
    <input class="form-input"  type="email" ngModel name="email" placeholder="Email">
    <button class="form-button">SignUp</button>
</form>

</div>